# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
cmake-build-*
git_toolbox_prj.xml
first_derivative*
*.txt
*.pdf
CMakeFiles
output/*
Exercise1_output/*
/Exercise1/Exercise1_output/
*.mp4